/* -------------------
    universal styles
---------------------- */

* {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}


/* ------------------
    Common Styles
--------------------- */

.btn-primary {
    background: #FF900E;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    border: 0;
    border-radius: 8px;
    padding: 20px 25px;
}

/* -----------------------------------
    header, navbar and banner styles
-------------------------------------- */

.header {
    background: rgba(255, 144, 14, 0.1);
}

.nav {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
}

.nav-title {
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
}

.nav-items {
    display: flex;
    gap: 40px;
    padding: 0;
}

.nav-items>li {
    list-style: none;
}

.nav-items>li a {
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    color: #424242;
}

.banner {
    max-width: 1400px;
    margin: 0 auto;
    margin-top: 50px;
}

.banner-content {
    margin: 0 260px;
    text-align: center;
}

.banner-title {
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    margin-bottom: 25px;
}

.banner-sub-title {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    margin-bottom: 32px;
}

.banner-img {
    max-width: 1380px;
    margin: 0 auto;
    padding: 50px 0;
}

.banner-img img {
    width: 100%;
}

main {
    max-width: 1380px;
    margin: 0 auto;
}

/* -----------------------
    our-features styles
-------------------------- */

.our-features {
    margin-top: 85px;
    display: flex;
    align-items: center;
    gap: 74px;
}

.our-features-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.our-features-info {
    padding-right: 60px;
}

.our-features-info>h3 {
    font-weight: 500;
    font-size: 45px;
    line-height: 53px;
    color: #727272;
}

.features-info-black {
    font-weight: 700;
    color: #131313;
}

.features-info-orange {
    font-weight: 700;
    color: #FF900E;
}

.our-features-info>p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    margin-top: 24px;
    margin-bottom: 32px;
}

/* ------------------------------
    features-you-love styles
--------------------------------- */

.features-you-love {
    margin-top: 130px;
    display: flex;
    gap: 145px;
}


.features-details {
    width: 45%;
    margin-top: 50px;
}

.features-details>h3 {
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #131313;
    margin-bottom: 24px;
    padding-left: 20px;
    padding-right: 100px;
    border-left: 5px solid #FF900E;
}

.features-details>p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
}

.features {
    margin-top: 30px;
}

.feature {
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    padding: 30px;
    margin-bottom: 20px;
}

.feature .feature-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: #131313;
    margin-bottom: 10px;
}

.feature .feature-desc {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
}

.features-image {
    position: relative;
    width: 50%;
}

.features-image img {
    width: 100%;
    height: 90%;
}

.features-btn {
    padding: 45px 42px;
    position: absolute;
    left: -80px;
    bottom: 20px;
    font-weight: 700;
    font-size: 65px;
    line-height: 70px;
}

.features-btn>span {
    font-weight: 500;
    font-size: 25px;
    line-height: 40px;
}

/* -------------------------
    some-facts styles
---------------------------- */

.some-facts {
    margin-top: 130px;
    margin-bottom: 130px;
}

.some-facts>h3 {
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #131313;
    margin-bottom: 24px;
}

.some-facts>p {
    line-height: 26px;
    color: #727272;
    width: 40%;
}

.facts {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    column-gap: 100px;
    margin: 0 40px;
}

.fact {
    padding: 46px 35px 59px 35px;
    margin-top: 100px;
    border: 1px solid #FF900E;
    border-radius: 8px;
    text-align: center;
}

.fact .fact-title {
    font-weight: 600;
    font-size: 45px;
    line-height: 53px;
    color: #424242;
    margin: 10px;
}

.fact .fact-desc {
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: #727272;
    margin-bottom: 5px;
}