/* -------------------
    universal styles
---------------------- */

* {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}


/* ------------------
    Common Styles
--------------------- */

.btn-primary {
    background: #FF900E;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    border: 0;
    border-radius: 8px;
    padding: 20px 25px;
}

/* -----------------------------------
    header, navbar and banner styles
-------------------------------------- */

.header {
    background: rgba(255, 144, 14, 0.1);
}

.nav {
    max-width: 1210px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
}

.nav-title {
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #131313;
}

.nav-items {
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 0;
}

.nav-items>li {
    list-style: none;
}

.nav-items>li a {
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    color: #424242;
}

.banner {
    max-width: 1220px;
    margin: 0 auto;
    margin-top: 50px;
}

.banner-content {
    margin: 0 170px;
    text-align: center;
}

.banner-title {
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    margin-bottom: 25px;
    color: #131313;
}

.banner-sub-title {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    margin-bottom: 32px;
}

.banner-img {
    max-width: 1220px;
    margin: 0 auto;
    padding: 50px 0;
}

.banner-img img {
    width: 100%;
}

main {
    max-width: 1220px;
    margin: 0 auto;
}

/* -----------------------
    quicklist-features styles
-------------------------- */

.quicklist-features {
    margin-top: 85px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 73px;
    padding: 0 30px;
}

.quicklist-features-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.quicklist-features-images img {
    width: 100%;
}

.quicklist-features-info {
    width: 58%;
}

.quicklist-features-info>h3 {
    font-weight: 500;
    font-size: 45px;
    line-height: 53px;
    color: #727272;
}

.features-info-black {
    font-weight: 700;
    color: #131313;
}

.features-info-orange {
    font-weight: 700;
    color: #FF900E;
}

.quicklist-features-info>p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    margin-top: 24px;
    margin-bottom: 32px;
}

/* ------------------------------
    features-you-love styles
--------------------------------- */

.features-you-love {
    margin-top: 130px;
    display: flex;
    justify-content: space-between;
    gap: 100px;
    position: relative;
}


.features-details {
    width: 47%;
    margin-top: 30px;
}

.features-details>h3 {
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #131313;
    margin-bottom: 24px;
    padding-left: 20px;
    padding-right: 100px;
    border-left: 5px solid #FF900E;
}

.features-details>p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
}

.features {
    margin-top: 30px;
}

.feature {
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    padding: 30px;
    margin-bottom: 20px;
}

.feature .feature-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: #131313;
    margin-bottom: 10px;
}

.feature .feature-desc {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
}

.features-image {
    max-width: 45%;
}

.features-image img {
    width: 100%;
    height: 95%;
    object-fit: cover;
}

.features-btn {
    padding: 40px 38px;
    position: absolute;
    right: 285px;
    bottom: -20px;
    font-weight: 700;
    font-size: 65px;
    line-height: 50px;
}

.features-btn>span {
    font-weight: 500;
    font-size: 25px;
    line-height: 40px;
}

/* -------------------------
    some-facts styles
---------------------------- */

.some-facts {
    margin-top: 130px;
}

.some-facts>h3 {
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #131313;
    margin-bottom: 24px;
}

.some-facts>p {
    line-height: 26px;
    color: #727272;
    width: 45%;
}

.facts {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    column-gap: 80px;
    margin: 0 25px;
    margin-top: 100px;
}


.fact {
    width: 160px;
    height: 151px;
    padding: 46px 35px 59px 35px;
    border: 1px solid #FF900E;
    border-radius: 8px;
    text-align: center;
}

/* Animation on hover */

@keyframes scaling {
    0% {
        border-color: red;
        transform: scale(1);
    }
    50% {
        border-color: red;
        transform: scale(1.2);
        box-shadow: 5px 10px 20px lightgray;
    }
    100% {
        border-color: #FF900E;
        transform: scale(1);
    }
}

.fact:hover {
    animation: scaling 1.5s ease-in-out 1 alternate;
}

.fact .fact-title {
    font-weight: 600;
    font-size: 45px;
    line-height: 53px;
    color: #424242;
    margin: 10px 0;
}

.fact .fact-desc {
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
    color: #727272;
    margin-bottom: 5px;
}

/* -----------------------
    our-sponsors styles
-------------------------- */

.our-sponsors {
    margin-top: 130px;
    text-align: center;
}

.our-sponsors>h3 {
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #131313;
}

.our-sponsors>p {
    line-height: 26px;
    color: #727272;
    width: 45%;
    margin: 0 auto;
    margin-top: 24px;
}

.sponsors {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 150px;
}

.sponsor img {
    width: 100%;
    filter: grayscale(1);
}

/* -------------------------
    our-works styles
---------------------------- */

.our-works {
    margin-top: 130px;
}

.our-works > h3 {
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #131313;
    text-align: center;
}

.works {
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 40px;
}

.work {
    background-color: bisque;
    border-radius: 10px;
}

.work .work-thumbnail img{
    width: 100%;
    height: 250px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.work .work-info {
    padding: 20px 25px;
}

.work-info > h4 {
    font-weight: 600;
    font-size: 24px;
    color: #424242;
    margin-bottom: 10px;
}

.work-info > p {
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    color: #727272;
    margin-bottom: 5px;
}

/* -------------------
    footer-styles
---------------------- */

.footer {
    max-width: 1380px;
    margin: 0 auto;
    margin-top: 130px;
    background: #FFF4E7;
    border-radius: 8px;
    text-align: center;
}

.footer>p {
    font-size: 20px;
    line-height: 23px;
    color: #424242;
    padding: 38px 0;
}

/* --------------------
    Media Queries
----------------------- */

/* mobile devices */

@media only screen and (max-width: 576px) {

    /* Common Styles */
    .nav, .nav-items, .quicklist-features, .features-you-love, .sponsors {
        flex-direction: column;
    }

    /* nav and banner styles*/
    .nav-title {
        text-align: center;
    }

    .nav-items {
        margin-top: 20px;
    }

    .banner-content {
        margin-left: 10px;
        margin-right: 10px;
    }
    
    .banner-title {
        font-size: 50px;
    }

    .banner-img {
        margin: 0 10px;
    }

    /* quicklist-features styles */
    .quicklist-features {
        align-items: center;
    }

    .quicklist-features-images {
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
    }

    .quicklist-features-info {
        width: 100%;
        text-align: center;
    }

    /* features-you-love styles */
    .features-you-love {
        padding: 0 15px;
        gap: 50px;
    }

    .features-you-love .features-details {
        width: 100%;
    }
    
    .features-details > h3 {
        padding: 0;
        padding-left: 20px;
    }

    .features {
        margin-top: 50px;
    }

    .feature {
        padding: 20px 15px;
    }

    .features-image {
        max-width: none;
        width: 100%;
    }

    .features-image img {
        width: 100%;
    }

    .features-btn {
        position: static;
        margin: 0 15px;
        font-size: 40px;
    }

    /* some-facts styles */
    .some-facts {
        text-align: center;
    }

    .some-facts > p {
        width: 90%;
        margin: 0 auto;
    }

    .facts {
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        justify-items: center;
        column-gap: 0;
        row-gap: 40px;
    }

    /* our-sponsors styles */
    .our-sponsors > p {
        width: 90%;
    }

    .sponsors {
        align-items: center;
        gap: 80px;
    }

    /* our-works styles */
    .our-works {
        margin-top: 140px;
        margin-left: 15px;
        margin-right: 15px;
    }

    .works {
        grid-template-columns: repeat(1, 1fr);
        column-gap: 0;
        row-gap: 50px;
        margin-top: 50px;
    }

    /* footer styles */
    .footer {
        margin-top: 120px;
    }
}