/* -------------------
    universal styles
---------------------- */

* {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}


/* ------------------
    Common Styles
--------------------- */

.btn-primary {
    background: #FF900E;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    border: 0;
    border-radius: 8px;
    padding: 20px 25px;
}

/* -----------------------------------
    header, navbar and banner styles
-------------------------------------- */

.header {
    background: rgba(255, 144, 14, 0.1);
}

.nav {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
}

.nav-title {
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
}

.nav-items {
    display: flex;
    gap: 40px;
    padding: 0;
}

.nav-items>li {
    list-style: none;
}

.nav-items>li a {
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    color: #424242;
}

.banner {
    max-width: 1400px;
    margin: 0 auto;
    margin-top: 50px;
}

.banner-content {
    margin: 0 260px;
    text-align: center;
}

.banner-title {
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    margin-bottom: 25px;
}

.banner-sub-title {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    margin-bottom: 32px;
}

.banner-img {
    max-width: 1380px;
    margin: 0 auto;
    padding: 50px 0;
}

.banner-img img {
    width: 100%;
}

main {
    max-width: 1380px;
    margin: 0 auto;
}

/* -----------------------
    our-features styles
-------------------------- */

.our-features {
    margin-top: 85px;
    display: flex;
    align-items: center;
    gap: 74px;
}

.our-features-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.our-features-info {
    padding-right: 60px;
}

.our-features-info > h3 {
    font-weight: 500;
    font-size: 45px;
    line-height: 53px;
    color: #727272;
}

.features-info-black {
    font-weight: 700;
    color: #131313;
}

.features-info-orange {
    font-weight: 700;
    color: #FF900E;
}

.our-features-info> p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    margin-top: 24px;
    margin-bottom: 32px;
}